### Practise: Matrix
#### Date: 2025-12-12

In [ ]:
# Task 0.1. Create zero matrix size 5x3
import numpy as np
# use zerous 
ARR = np.zeros((5, 3))
ARR

In [ ]:
# Task 0.1.1. У тебе є матриці розмірів: A: 3×2 B: 2×4
# Питання.Чи можна множити A · B? Який розмір результату?
# 3x4

In [ ]:
# Task 0.1.2. Зробити множення та перевірити чи можливо його зробити?
A = np.array([
    [10, 20],
    [15, 25],
    [30, 10]
])  

B = np.array([
    [0.6],
    [0.4]
])  

# use @
ARR = A @ B
ARR

In [ ]:
# Task 0.2. Create ones matrix size 3, 1
A = np.array([
    [2],
    [3],
    [4]
])  
# use ones
I = np.eye(3,1)
J = np.ones((3,2))
print(I, J)

In [ ]:
# Task 0.3. Dot transpose matrix . Calculate diagonal
import numpy as np

# | user | sessions | watch_hours | spend |
# | ---- | -------- | ----------- | ----- |
# | 1    | 5        | 10          | 100   |
# | 2    | 10       | 20          | 200   |
# | 3    | 3        | 6           | 60    |
# | 4    | 8        | 16          | 160   |

X = np.array([
    [5, 10, 100],
    [10, 20, 200],
    [3, 6, 60],
    [8, 16, 160]
])

# use .T and @
print(X.T @ X)

# use by prev task np.diag
print(np.diag(X.T @ X))

# use np.linalg.matrix_rank 
print(np.linalg.matrix_rank(X))

In [ ]:
# Calculate weights
weights = np.array([0.5, 0.2, 0.01])
impact = X * weights
impact

In [ ]:
# L2-normalize
s = np.linalg.norm(X[:, 0])  # sessions
w = np.linalg.norm(X[:, 1])  # watch_hours
p = np.linalg.norm(X[:, 2])  # spend
print(s,w,p)

In [48]:
# Task 1.
import numpy as np

X = np.array([
    [20, 5],
    [30, 10],
    [40, 20]
])

# скільки колонок? рядків? який тип матриці

In [49]:
# Task 2. Transpose matrix from task 1
X.T
# use .T

array([[20, 30, 40],
       [ 5, 10, 20]])

In [60]:
# Task 3. Analyze titanic - do EDA (sample, isnull, head, describe, shape, info, etc)

import seaborn as sns
import numpy as np

df = sns.load_dataset("titanic")
df = df.dropna(subset=["age", "fare", "pclass", "survived"])

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [61]:
X = df[["age", "fare", "pclass"]].values   
y = df["survived"].values      

np.isfinite(X).all(axis=0)

array([ True,  True,  True])

In [62]:
# Task 4. Transpose matrix dot by X

# use .T and @
print(X.T @ X)

[[ 780231.4745     788357.425814    44223.84     ]
 [ 788357.425814  2856142.9817713   37879.3612   ]
 [  44223.84        37879.3612       4073.       ]]

In [63]:
# Task 5. Масштаб ознак

# use diag method on transpose matrix
print(np.diag(X.T @ X))

[ 780231.4745    2856142.9817713    4073.       ]

In [64]:
# Task 6. Перевірти ранг 

# use np.linalg.matrix_rank
print((X.T @ X).shape,np.linalg.matrix_rank(X.T @ X))

(3, 3) 3

In [65]:
# Task 7. Перевірити детермінант 

# use np.linalg.det
print(np.linalg.det(X.T @ X))

2480946563493686.5